train_input_path: "odps://pai_test_xjp/tables/ml_20m_train_flatten"
# eval_input_path: "odps://pai_test_xjp/tables/ml_20m_eval_flatten"
model_dir: "experiments/hstu_ml_20m_match_2025-02-13-20-49"
train_config {
    sparse_optimizer {
        adam_optimizer {
            lr: 0.001
            weight_decay: 0
        }
        constant_learning_rate {
        }
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
            weight_decay: 0
        }
        constant_learning_rate {
        }
    }
    num_epochs: 101
}
eval_config {
}
data_config {
    batch_size: 128
    dataset_type: OdpsDataset
    fg_mode: FG_DAG
    label_fields: "clk"
    enable_hstu: true
    num_workers: 8
    odps_data_quota_name: ""
    odps_data_compression: "UNCOMPRESSED"
    negative_sampler {
        input_path: "ml_20m_feature_gl"
        num_sample: 128
        attr_fields: "historical_ids"
        item_id_field: "historical_ids"
        attr_delimiter: "\t"
        item_id_delim: ';'
    }
}

feature_configs {
    sequence_id_feature {
        feature_name: "historical_ids"
        sequence_length: 210
        sequence_delim: ";"
        expression: "user:historical_ids"
        num_buckets: 131263
        embedding_dim: 256
    }
}

# feature_configs {
#     id_feature {
#         feature_name: "item_id"
#         expression: "item:item_id"
#         num_buckets: 3953
#         embedding_dim: 48
#    }
# }

model_config {
    feature_groups {
        group_name: "sequence"
        feature_names: "historical_ids"
        group_type: SEQUENCE
    }
    # feature_groups {
    #     group_name: "item"
    #     feature_names: "historical_ids"
    #     group_type: DEEP
    # }
    hstu_match {
        hstu_tower {
            input: 'sequence'
            hstu_encoder: {
                sequence_dim: 256
                attn_dim: 64
                linear_dim: 64
                input: "sequence"
                max_seq_length: 210
                num_blocks: 4
                num_heads: 4
                linear_activation: "silu"
                linear_config: "uvqk"
                max_output_len: 0
            }
        }
        # item_tower {
        #     input: 'sequence'
        # }
        temperature: 0.05
    }
    metrics {
        recall_at_k {
            top_k: 1
        }
    }
    metrics {
        recall_at_k {
            top_k: 10
        }
    }
    metrics {
        recall_at_k {
            top_k: 50
        }
    }
    metrics {
        recall_at_k {
            top_k: 200
        }
    }
    losses {
        softmax_cross_entropy {}
    }
}
