train_input_path: "odps://pai_test_xjp/tables/ml_1m_train_flatten"
eval_input_path: "odps://pai_test_xjp/tables/ml_1m_eval_flatten"
model_dir: "experiments/hstu_ml_1m_match_2025-03-28-16-03"
train_config {
  sparse_optimizer {
    adam_optimizer {
      lr: 0.001
      beta1: 0.9
      beta2: 0.98
      weight_decay: 0.0
    }
    constant_learning_rate {
    }
  }
  dense_optimizer {
    adam_optimizer {
      lr: 0.001
      beta1: 0.9
      beta2: 0.98
      weight_decay: 0.0
    }
    constant_learning_rate {
    }
  }
  num_epochs: 101
}
eval_config {
}
data_config {
  batch_size: 128
  dataset_type: OdpsDataset
  label_fields: "clk"
  num_workers: 8
  odps_data_quota_name: ""
  fg_mode: FG_DAG
  enable_hstu: true
  odps_data_compression: "UNCOMPRESSED"
  negative_sampler {
    input_path: "ml_1m_feature_gl"
    num_sample: 128
    attr_fields: "historical_ids"
    item_id_field: "historical_ids"
    attr_delimiter: "\t"
    item_id_delim: ";"
  }
}
feature_configs {
  sequence_id_feature {
    feature_name: "historical_ids"
    expression: "user:historical_ids"
    sequence_length: 210
    sequence_delim: ";"
    embedding_dim: 48
    num_buckets: 3953
  }
}
model_config {
  feature_groups {
    group_name: "sequence"
    feature_names: "historical_ids"
    group_type: SEQUENCE
  }
  losses {
    softmax_cross_entropy {
    }
  }
  metrics {
    recall_at_k {
      top_k: 1
    }
  }
  metrics {
    recall_at_k {
      top_k: 10
    }
  }
  metrics {
    recall_at_k {
      top_k: 50
    }
  }
  metrics {
    recall_at_k {
      top_k: 200
    }
  }
  hstu_match {
    hstu_tower {
      input: "sequence"
      hstu_encoder {
        input: "sequence"
        sequence_dim: 48
        attn_dim: 48
        linear_dim: 48
        max_seq_length: 210
        linear_activation: "silu"
        linear_config: "uvqk"
        num_heads: 1
        num_blocks: 2
        max_output_len: 0
      }
    }
    temperature: 0.05
  }
}
